$main-purple: #6d2f74;
$secondary-purple: #56225c;
$third-purple: #7b3984;
$main-yellow: #ffc629;
$main-grey: #545559;
$secondary-grey: #f8f8f8;
$third-grey: #ececec;
$fourth-grey: #ededed;
$white: #ffff;