.header-container {
    &__header {
        max-width: 750px;
        color: $main-purple;
        font-family: $dmserif;
        font-size: 36px;
        letter-spacing: 0.6px;
        margin: 0;
        margin-bottom: 54px;
        position: relative;

        &::after {
            content: "";
            width: 360px;
            height: 1px;
            background-color: $main-yellow;
            border: 1px solid $main-yellow;
            position: absolute;
            top: 70px;
            left: 0;
        }
    }
}

.image-container {
    &__doctor-image {
        max-width: 100%;
        display: block;
    }
}

.info {
    max-width: 724px;
    color: $main-grey;
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 24px;
}

.rectangles-container {
    &__rectangle-container {
        position: relative;
        max-width: 750px;
        border-radius: 10px;
        background-color: $secondary-grey;
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        padding: 34px 32px 51px 33px;

        &__dot {
            color: $main-grey;
            font-weight: 700;
            line-height: 28px;
            margin-right: 20px;
        }

        &__rectangle-text {
            max-width: 685px;
            color: $main-grey;
            font-weight: 700;
            line-height: 28px;
            margin: 0;
        }

        &__circle {
            position: absolute;
            width: 49px;
            height: 50px;
            border: 5px solid $white;
            border-radius: 50%;
            background-color: $main-yellow;
            bottom: -25px;
            left: calc(50% - (49px / 2));
            display: flex;
            justify-content: center;
            align-items: center;

            &__text {
                color: $main-grey;
                font-family: $dmserif;
                font-size: 30px;
                font-style: italic;
                text-align: center;
                margin-bottom: 7px;
            }
        }
    }
    &__rectangle-container-2 {
        max-width: 750px;
        border-radius: 10px;
        background-color: $secondary-grey;
        display: flex;
        align-items: flex-start;
        padding: 35px 48px 35px 33px;
        margin-bottom: 60px;

        &__dot {
            color: $main-purple;
            font-weight: 700;
            line-height: 28px;
            margin-right: 20px;
        }

        &__text {
            min-width: 669px;
            color: $main-purple;
            font-weight: 700;
            line-height: 28px;
            margin: 0;

            &__rights {
                font-size: 11px;
            }
        }
    }
}

.header-2 {
    max-width: 750px;
    color: $main-purple;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 33px;

    &__rights {
        font-size: 15px;
    }
}

.cards {
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 48px;

    .next{
        border: none;
    }

    &__secondary-card {
        width: 225px;
        height: 422px;
        background-color: $third-grey;

        &__top {
            height: 110px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0 30px;
            background-color: $secondary-grey;
        }

        &__main {
            padding: 15px 18px 27px 18px;

            &__text {
                min-width: 192px;
                background-color: $fourth-grey;
                color: $main-grey;
                font-size: 14px;
                font-weight: 600;
                line-height: 26px;

                &__bold {
                    font-size: 14px;
                    font-weight: 700;
                }

                &__rights {
                    font-size: 9px;
                    font-weight: 700;
                }
            }

            &__arrow-right {
                display: none;
            }
        }
    }

    &__main-card {
        height: 492px;
        width: 300px;
        border-radius: 10px;

        &__top {
            height: 130px;
            background-color: $main-purple;
            border-bottom: 1px solid rgb(117, 116, 116);
            border-radius: 10px 10px 0 0;

            &__logo-icon {
                margin: 25px 25px;
            }
        }

        &__main {
            background-color: $secondary-purple;
            padding: 20px 22px 21px 23px;
            border-radius: 0 0 10px 10px;

            &__text {
                min-width: 255px;
                color: $white;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;

                &__bold {
                    font-size: 14px;
                    font-weight: 700;
                }

                &__one {
                    font-size: 8px;
                }
            }

            &__arrow-right {
                display: none;
            }
        }
    }
}

.left {
    border-radius: 10px 0 0 10px;
}

.right {
    border-radius: 0 10px 10px 0;
}

.specialty-pharmacy-container {
    position: relative;
    max-width: 750px;
    min-height: 122px;
    box-shadow: 10px 10px 0 $main-yellow;
    border-radius: 10px;
    border: 5px solid $main-yellow;
    background-color: $white;
    padding: 19px 33px 25px 44px;

    &__info-circle {
        position: absolute;
        left: -28px;
        top: calc(50% - (51px/2));
        width: 50px;
        height: 51px;
        border: 4px solid $white;
        background-color: $third-purple;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-family: $dmserif;
        font-size: 26px;
        font-style: italic;
        text-align: center;
    }

    &__text-container {
        &__header {
            max-width: 547px;
            margin: 0;
            margin-bottom: 4px;
            color: $main-purple;
            font-family: $dmserif;
            font-size: 22px;
            font-style: italic;
            font-weight: 500;
        }

        &__text {
            max-width: 662px;
            color: $main-grey;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;

            &__numbers {
                font-size: 9px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: normal;
                line-height: normal;
            }
        }
    }
}