
@mixin respond($breakpoint) {
    @if $breakpoint==dekstop {
        @media only screen and (max-width: 1024px) {
            .header-container {
                margin-bottom: 29px;

                &__header {
                    display: inline-block;
                    min-width: 280px;
                    color: $main-purple;
                    font-family: $dmserif;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29px;
                    margin: 0 20px;
                }

                &__header::after {
                    width: calc(100% - 10px);
                    top: 40px;
                    border: none;
                    height: 2px;
                }
            }

            .info {
                margin: 15px 20px 24px 20px;
                min-width: 280px;
                color: $main-grey;
                font-size: 14px;
                font-weight: 600;
            }

            .rectangles-container {
                &__rectangle-container {
                    padding: 22px 42px 10px 20px;
                    border-radius: 0px;

                    &__dot {
                        color: $main-grey;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 20px;
                    }

                    &__rectangle-text {
                        min-width: 258px;
                        color: $main-grey;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 20px;
                    }

                    &__circle {
                        width: 39px;
                        height: 40px;
                        border: 4px solid $white;
                        background-color: $main-yellow;
                        left: calc(50% - (39px / 2));

                        &__text {
                            width: 23px;
                            color: $main-grey;
                            font-family: $dmserif;
                            font-size: 24px;
                            font-style: italic;
                        }
                    }
                }
                &__rectangle-container-2 {
                    padding: 28px 33px 22px 20px;
                    margin-bottom: 40px;
                    border-radius: 0px;

                    &__dot {
                        color: $main-purple;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 20px;
                    }

                    &__text {
                        min-width: 267px;
                        color: $main-purple;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 20px;

                        &__rights {
                            font-size: 8px;
                        }
                    }
                }
            }

            .header-2 {
                min-width: 280px;
                margin: 0 20px;
                height: 84px;
                color: $main-purple;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 29px;

                &__rights {
                    font-size: 11px;
                }
            }

            .cards {
                background-color: $secondary-grey;
                padding-top: 30px;
                padding-bottom: 55px;

                &__secondary-card {
                    position: relative;
                    width: 265px;
                    height: 330px;
                    margin: 0 5px;
                    border-radius: 10px;
                    border-bottom: 2px solid $third-grey;

                    &__top {
                        border: 2px solid $fourth-grey;
                        border-radius: 10px 10px 0 0;

                        &__arrow-icon {
                            display: none;
                        }
                    }

                    &__main {
                        &__text {
                            min-width: 217px;
                            color: $main-grey;
                            font-size: 11px;
                            font-weight: 600;
                            line-height: 16px;

                            &__bold {
                                font-size: 11px;
                                font-weight: 700;
                                font-style: bold;
                            }

                            &__rights {
                                font-size: 7px;
                                font-weight: 700;
                                font-style: bold;
                            }
                        }

                        &__arrow-right {
                            display: block;
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            width: 39px;
                            height: 38px;
                            border-radius: 50%;
                            background-color: $white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                &__main-card {
                    width: 265px;
                    height: 330px;
                    margin: 0 7px;
                    border-radius: 10px;
                    position: relative;

                    &__top {
                        height: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &__logo-icon {
                            margin: 0;
                            padding: 0;
                            transform: scale(0.9);
                        }
                    }

                    &__main {
                        padding: 0 14px 57px 14px;

                        &__text {
                            min-width: 238px;
                            color: $white;
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 16px;
                            padding-top: 14px;

                            &__bold {
                                font-size: 11px;
                                font-weight: 700;
                            }

                            &__one {
                                font-size: 7px;
                            }
                        }

                        &__arrow-right {
                            display: block;
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            width: 39px;
                            height: 38px;
                            border-radius: 50%;
                            background-color: $white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .slick-slide {
                    width: 265px;
                }
            }

            .specialty-pharmacy-container {
                width: 270px;
                margin: 0 auto;
                padding: 40px 13px 25px 14px;

                &__info-circle {
                    top: -16%;
                    left: calc(50% - (51px / 2));
                }

                &__text-container {
                    &__header {
                        color: $main-purple;
                        font-family: $dmserif;
                        font-size: 16px;
                        text-align: center;
                        margin-bottom: 9px;
                    }

                    &__text {
                        color: $main-grey;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: center;

                        &__numbers {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }

    @if $breakpoint==tablet {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==mobile {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
}
