cards .slick-initialized .slick-slider .slick-dotted {
    position: relative;
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 58%;
    margin: 0;
    padding: 1rem 0;

    list-style-type: none;

    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 6px;
        height: 6px;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: #d8d8d8;

        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: #c4a8c4;
    }
}