cards .slick-initialized .slick-slider .slick-dotted {
  position: relative;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 58%;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #d8d8d8;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #c4a8c4;
}

.header-container__header {
  max-width: 750px;
  color: #6d2f74;
  font-family: "DM Serif Display", sans-serif;
  font-size: 36px;
  letter-spacing: 0.6px;
  margin: 0;
  margin-bottom: 54px;
  position: relative;
}

.header-container__header::after {
  content: "";
  width: 360px;
  height: 1px;
  background-color: #ffc629;
  border: 1px solid #ffc629;
  position: absolute;
  top: 70px;
  left: 0;
}

.image-container__doctor-image {
  max-width: 100%;
  display: block;
}

.info {
  max-width: 724px;
  color: #545559;
  font-size: 24px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 24px;
}

.rectangles-container__rectangle-container {
  position: relative;
  max-width: 750px;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  padding: 34px 32px 51px 33px;
}

.rectangles-container__rectangle-container__dot {
  color: #545559;
  font-weight: 700;
  line-height: 28px;
  margin-right: 20px;
}

.rectangles-container__rectangle-container__rectangle-text {
  max-width: 685px;
  color: #545559;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.rectangles-container__rectangle-container__circle {
  position: absolute;
  width: 49px;
  height: 50px;
  border: 5px solid #ffff;
  border-radius: 50%;
  background-color: #ffc629;
  bottom: -25px;
  left: calc(50% - (49px / 2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rectangles-container__rectangle-container__circle__text {
  color: #545559;
  font-family: "DM Serif Display", sans-serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-bottom: 7px;
}

.rectangles-container__rectangle-container-2 {
  max-width: 750px;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 35px 48px 35px 33px;
  margin-bottom: 60px;
}

.rectangles-container__rectangle-container-2__dot {
  color: #6d2f74;
  font-weight: 700;
  line-height: 28px;
  margin-right: 20px;
}

.rectangles-container__rectangle-container-2__text {
  min-width: 669px;
  color: #6d2f74;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.rectangles-container__rectangle-container-2__text__rights {
  font-size: 11px;
}

.header-2 {
  max-width: 750px;
  color: #6d2f74;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}

.header-2__rights {
  font-size: 15px;
}

.cards {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.cards .next {
  border: none;
}

.cards__secondary-card {
  width: 225px;
  height: 422px;
  background-color: #ececec;
}

.cards__secondary-card__top {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  background-color: #f8f8f8;
}

.cards__secondary-card__main {
  padding: 15px 18px 27px 18px;
}

.cards__secondary-card__main__text {
  min-width: 192px;
  background-color: #ededed;
  color: #545559;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
}

.cards__secondary-card__main__text__bold {
  font-size: 14px;
  font-weight: 700;
}

.cards__secondary-card__main__text__rights {
  font-size: 9px;
  font-weight: 700;
}

.cards__secondary-card__main__arrow-right {
  display: none;
}

.cards__main-card {
  height: 492px;
  width: 300px;
  border-radius: 10px;
}

.cards__main-card__top {
  height: 130px;
  background-color: #6d2f74;
  border-bottom: 1px solid #757474;
  border-radius: 10px 10px 0 0;
}

.cards__main-card__top__logo-icon {
  margin: 25px 25px;
}

.cards__main-card__main {
  background-color: #56225c;
  padding: 20px 22px 21px 23px;
  border-radius: 0 0 10px 10px;
}

.cards__main-card__main__text {
  min-width: 255px;
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.cards__main-card__main__text__bold {
  font-size: 14px;
  font-weight: 700;
}

.cards__main-card__main__text__one {
  font-size: 8px;
}

.cards__main-card__main__arrow-right {
  display: none;
}

.left {
  border-radius: 10px 0 0 10px;
}

.right {
  border-radius: 0 10px 10px 0;
}

.specialty-pharmacy-container {
  position: relative;
  max-width: 750px;
  min-height: 122px;
  -webkit-box-shadow: 10px 10px 0 #ffc629;
          box-shadow: 10px 10px 0 #ffc629;
  border-radius: 10px;
  border: 5px solid #ffc629;
  background-color: #ffff;
  padding: 19px 33px 25px 44px;
}

.specialty-pharmacy-container__info-circle {
  position: absolute;
  left: -28px;
  top: calc(50% - (51px/2));
  width: 50px;
  height: 51px;
  border: 4px solid #ffff;
  background-color: #7b3984;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  font-family: "DM Serif Display", sans-serif;
  font-size: 26px;
  font-style: italic;
  text-align: center;
}

.specialty-pharmacy-container__text-container__header {
  max-width: 547px;
  margin: 0;
  margin-bottom: 4px;
  color: #6d2f74;
  font-family: "DM Serif Display", sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
}

.specialty-pharmacy-container__text-container__text {
  max-width: 662px;
  color: #545559;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.specialty-pharmacy-container__text-container__text__numbers {
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  height: 100%;
}

.main-content {
  max-width: 750px;
  margin: 60px auto;
}

@media only screen and (max-width: 1024px) {
  .main-content .header-container {
    margin-bottom: 29px;
  }
  .main-content .header-container__header {
    display: inline-block;
    min-width: 280px;
    color: #6d2f74;
    font-family: "DM Serif Display", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 20px;
  }
  .main-content .header-container__header::after {
    width: calc(100% - 10px);
    top: 40px;
    border: none;
    height: 2px;
  }
  .main-content .info {
    margin: 15px 20px 24px 20px;
    min-width: 280px;
    color: #545559;
    font-size: 14px;
    font-weight: 600;
  }
  .main-content .rectangles-container__rectangle-container {
    padding: 22px 42px 10px 20px;
    border-radius: 0px;
  }
  .main-content .rectangles-container__rectangle-container__dot {
    color: #545559;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
  .main-content .rectangles-container__rectangle-container__rectangle-text {
    min-width: 258px;
    color: #545559;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
  .main-content .rectangles-container__rectangle-container__circle {
    width: 39px;
    height: 40px;
    border: 4px solid #ffff;
    background-color: #ffc629;
    left: calc(50% - (39px / 2));
  }
  .main-content .rectangles-container__rectangle-container__circle__text {
    width: 23px;
    color: #545559;
    font-family: "DM Serif Display", sans-serif;
    font-size: 24px;
    font-style: italic;
  }
  .main-content .rectangles-container__rectangle-container-2 {
    padding: 28px 33px 22px 20px;
    margin-bottom: 40px;
    border-radius: 0px;
  }
  .main-content .rectangles-container__rectangle-container-2__dot {
    color: #6d2f74;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
  .main-content .rectangles-container__rectangle-container-2__text {
    min-width: 267px;
    color: #6d2f74;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
  .main-content .rectangles-container__rectangle-container-2__text__rights {
    font-size: 8px;
  }
  .main-content .header-2 {
    min-width: 280px;
    margin: 0 20px;
    height: 84px;
    color: #6d2f74;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 29px;
  }
  .main-content .header-2__rights {
    font-size: 11px;
  }
  .main-content .cards {
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 55px;
  }
  .main-content .cards__secondary-card {
    position: relative;
    width: 265px;
    height: 330px;
    margin: 0 5px;
    border-radius: 10px;
    border-bottom: 2px solid #ececec;
  }
  .main-content .cards__secondary-card__top {
    border: 2px solid #ededed;
    border-radius: 10px 10px 0 0;
  }
  .main-content .cards__secondary-card__top__arrow-icon {
    display: none;
  }
  .main-content .cards__secondary-card__main__text {
    min-width: 217px;
    color: #545559;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
  }
  .main-content .cards__secondary-card__main__text__bold {
    font-size: 11px;
    font-weight: 700;
    font-style: bold;
  }
  .main-content .cards__secondary-card__main__text__rights {
    font-size: 7px;
    font-weight: 700;
    font-style: bold;
  }
  .main-content .cards__secondary-card__main__arrow-right {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 39px;
    height: 38px;
    border-radius: 50%;
    background-color: #ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content .cards__main-card {
    width: 265px;
    height: 330px;
    margin: 0 7px;
    border-radius: 10px;
    position: relative;
  }
  .main-content .cards__main-card__top {
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content .cards__main-card__top__logo-icon {
    margin: 0;
    padding: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .main-content .cards__main-card__main {
    padding: 0 14px 57px 14px;
  }
  .main-content .cards__main-card__main__text {
    min-width: 238px;
    color: #ffff;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    padding-top: 14px;
  }
  .main-content .cards__main-card__main__text__bold {
    font-size: 11px;
    font-weight: 700;
  }
  .main-content .cards__main-card__main__text__one {
    font-size: 7px;
  }
  .main-content .cards__main-card__main__arrow-right {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 39px;
    height: 38px;
    border-radius: 50%;
    background-color: #ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content .cards .slick-slide {
    width: 265px;
  }
  .main-content .specialty-pharmacy-container {
    width: 270px;
    margin: 0 auto;
    padding: 40px 13px 25px 14px;
  }
  .main-content .specialty-pharmacy-container__info-circle {
    top: -16%;
    left: calc(50% - (51px / 2));
  }
  .main-content .specialty-pharmacy-container__text-container__header {
    color: #6d2f74;
    font-family: "DM Serif Display", sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 9px;
  }
  .main-content .specialty-pharmacy-container__text-container__text {
    color: #545559;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }
  .main-content .specialty-pharmacy-container__text-container__text__numbers {
    font-size: 8px;
  }
}
/*# sourceMappingURL=main.css.map */