@import "./_fonts.scss";
@import "./_colors.scss";
@import "./_slick.scss";
@import './_common.scss';
@import './_media-queries.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $montserrat;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

.container {
    width: 100%;
    height: 100%;
}

.main-content {
    max-width: 750px;
    margin: 60px auto;


    @include respond(dekstop);

}
